*{
    margin: 0;
    padding: 0;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
    
}

.logo{
    background-image: url(newpic/amazon_logo.png);
    background-size: cover;
    width: 100%;
    height:50px ;
    

}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    
}


/** second box **/


.address{
    display: flex;

}

.first-text{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 10px;
    margin-bottom: 3px;
    
}

.sec-text{
    margin-left: 4px;
    font-size: 0.95rem;
}

.nav-address{
    padding: 7px;
}


/** box3 **/

.nav-search{
    display: flex;
     background-color: pink;
     width: 620px;
     height:40px ;
     border-radius:4px;
     justify-content: space-evenly;
     border: 2px solid transparent;
     
}

.nav-search:hover {
     border: 3px solid orange;
}

.search-select{
    background-color: #f3f3f3;
     border-top-left-radius:4px ;
     border-bottom-left-radius: 4px;
     width: 50px;
     text-align: center;
     border: none;

     
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;


}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
     color: #0f1111;
}



.select-flag{
    height: 40px;
    border-radius: 4px;
    font-size: 1.1rem;
    background-color: black;
    color: white;
    border: none;
    padding-left: 8px;
    padding-top: 5px;
    font-family:roboto ;
   
}
.flag{
    padding: 3px;
}






.signing{
    padding: 4px;
}
.navreturn{
    padding: 4px;
}




span{
    font-size: 0.7rem;
}


.first-text{
    font-size: 0.85rem;
    font-weight: 700;
}




.nav-kart i {
 font-size:30px;
}
.nav-kart p {
    padding-top: 9px;
    padding-left: 3px;
}

.nav-kart{
    font-size: 0.85rem;
    display: flex;
    font-weight:700 ;
    padding: 7px;
}

/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;

}


.panel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px; 
}

.panel-ops{
    width: 70%;
}

.panel-deals{
    font-size: 0.90rem;
    font-weight: 700;
}







.hero{
    height: 400px;
    background-image: url(newpic/hero_image.jpg);
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    
    
}

/* when position is static it will not move in display flex x give it positon realtive or absolute  */




.hero-msg{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;

    
}

.hero-msg a {
    color: #007185;
}




.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;
    flex-wrap: wrap;
}



.box{
    height: 340px;
    /* border: 2px solid black; */
    width: 22%;
    background-color: white;
    padding: 20px 0px 15px; 
    /* why is this above padding for */
    margin-top: 15px;
    
    
}
  

.box-img{
    height:265px ;
    

}

.box-content{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 15px;
}


footer{
    margin-top: 15px;
    

    
}



.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    


}


.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 300px;
    padding-top: 10px;
    

    
    
}

li{
    list-style-type: none;
    font-size: 0.85rem;
    margin-top:10px ;
    color: #dddddd;
}




.foot-panel3{
    border-top: 0.5px solid white;
    height: 60px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(newpic/amazon_logo.png);
    background-size: cover;
    height:50px ;
    width: 100px;

}


.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    padding-top: 25px;
}

.pages{
    font-size: 0.7rem;
   
}

.copyright{
    padding-top: 5px;
}

/* new shop section  */
.ad-container {
    display: flex;
    /* justify-content: space-between; */
  }
  .ad {
    height: 600px;
    width: 50%;
    background-color: #f0f0f0;
    padding: 20px;
    /* box-sizing: border-box; */
    
  }
  .ad h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .items {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 20px;
    
    
    
  }

  .inside{
    
  }
  .items img {
    width: 23%;
    object-fit: cover;
  }
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }

  .new-img{
    
    height: 200px;
    width:200px;
    padding: 20px;
    margin-left: 20px;
  }

  .pika-chu{
    padding: 10px;
   
  }


  /* SCROLL SNAP ALIGN */

  .container{
    
    height: 300px;
    overflow-y:scroll;
    scroll-snap-type: x mandatory;
  }

  .child{
    scroll-snap-align: start;
    border: 10px solid black;
  }
 
  .second-container{
    
    display: flex;
    padding-top: 10px;
  }